.card-header{
    color: #fff !important;
    background: #5cb85c !important;
}
.col a {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block !important;
    text-decoration: none !important;
    font-size: 14pt;
    color: #000000;
}
.col a:hover{
    color: #5cb85c;
}
.container{
    margin-bottom: 30px;
}
.modal-body{
    background: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#tab11{
    margin-bottom: 5px !important;
}
.predm{
    text-align: center;
    font-size: 14pt;
    margin: 3% 3% 3% 3%;
}
#ukr{
    width: 48%;
    height: 33px;
    padding-left: 1px;
}
